body {
  font-family: Arial, sans-serif;
  background-color: #f1f3f4;
  text-align: center;
}

h1 {
  color: #1a73e8;
}

form {
  background: white;
  padding: 20px;
  width: 300px;
  margin: auto;
  border-radius: 10px;
}

input, select, textarea, button {
  width: 100%;
  padding: 8px;
}

button {
  background-color: #1a73e8;
  color: white;
  border: none;
  cursor: pointer;
}

